#buttons {
  position: absolute;
  transition: var(--transitions);
  width: 100%;
  top: 60vh;

  &.chart-displayed {
    top: 80vh;

    &>*>*>.player>.player-button {
      box-shadow: 0 0 .4vmin .4vmin var(--player-color);
    }
  }
}

#continue-button {
  width: 40vmin;
  height: 10vmin;
  margin: 5vmin auto auto auto;
  border-radius: 1vmin;
  font-size: 4vmin;
  
  transition: var(--transitions);
  opacity: 0;
}

#chart {
  width: 80vw;
  height: 0;
  margin: 0 auto;

  &.chart-displayed {
    height: 40vh;
  }
}
