#buttons {
  position: absolute;
  transition: var(--transitions);
  width: 100%;
  top: 60vh;

  &.chart-displayed>*>*>.player>.player-button {
    box-shadow: 0 0 .4vmin .4vmin var(--player-color);
  }
}

#continue-button {
  width: 40vmin;
  height: 10vmin;
  margin: 5vmin auto auto auto;
  border-radius: 1vmin;
  font-size: 4vmin;
  
  transition: var(--transitions);
  opacity: 0;
}

#chart-container {
  width: 100vw;
  height: 0;
  margin: 0 auto;

  &>#chart {
    width: 80vw;
    margin: auto;
  }

  &.chart-displayed {
    height: 40vh;

    &>#save-chart {
      height: auto;
      width: min-content;
      padding: .8vmin 1.3vmin;
      font-size: 3vmin;
      color: white;
      background: #333;
      border-radius: 1vmin;
      margin: auto auto auto 0;
    }
  }
}
#save-chart {
  font-size: 0;
  background: none;
  height: 0;
  border: none;
}
