:root {
  --transitions: 0.5s;
  --player-size: 13vmin;
  --coin-size: 12vmin;
  --player-font-size: 3vmin;
  --selection-color: #00a7a7;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #181A1B;
}
button {
  background-color: #2B2A33;
  color: white;
  border: .4vmin inset white;
}

.horizontal {
  display: flex;
  flex-flow: row wrap;
}
.vertical {
  display: flex;
  flex-flow: column;
}
